openapi: 3.2.0
info:
  title: Valuation Status API
  description: Generally available version of the Valuation API.
  version: '1.0'
  x-api-evangelist-provenance:
    provider: Hometrack
    portal: https://developer.hometrack.com
    harvested: '2026-07-26'
    method: Azure API Management developer data-plane, anonymous
    sources:
    - url: https://developer.hometrack.com/developer/apis/realtime-proxy-api?api-version=2022-04-01-preview&export=true&format=openapi-link
      status: 200
      note: OpenAPI 3.0.1 export (info/servers/securitySchemes verbatim; paths empty in export)
    - url: https://developer.hometrack.com/developer/apis/realtime-proxy-api/operations?api-version=2022-04-01-preview
      status: 200
      note: operation list
    - url: https://developer.hometrack.com/developer/apis/realtime-proxy-api/operations/{operationId}?api-version=2022-04-01-preview
      status: 200
      note: per-operation request/response metadata
    - url: https://developer.hometrack.com/developer/apis/realtime-proxy-api/schemas?api-version=2022-04-01-preview
      status: 200
      note: component schema documents
    note: paths and components.schemas were reassembled verbatim from Hometrack's own APIM operation and schema metadata; nothing was invented.
servers:
- url: https://api.hometrack.com/valuation-api/v1
- url: https://api.hometrack.local/valuation-api/v1
security:
- {}
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Status
paths:
  /status:
    get:
      operationId: status
      summary: Status
      description: This function checks if the Valuation API is currently available.
      responses:
        '200':
          description: The Valuation API is up and running.
        '503':
          description: The Valuation API is currently unavailable.
      tags:
      - Status
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
