openapi: 3.0.1
info:
  title: (PRH) - Core External Client API v2.0
  description: Our PRH 'Core' API offering to all customers who want it.
  version: v2.0
  x-api-evangelist-provenance:
    provider: Hometrack
    portal: https://developer.hometrack.com
    harvested: '2026-07-26'
    method: Azure API Management developer data-plane, anonymous
    sources:
    - url: https://developer.hometrack.com/developer/apis/prd-core-api-v2-0?api-version=2022-04-01-preview&export=true&format=openapi-link
      status: 200
      note: OpenAPI 3.0.1 export (info/servers/securitySchemes verbatim; paths empty in export)
    - url: https://developer.hometrack.com/developer/apis/prd-core-api-v2-0/operations?api-version=2022-04-01-preview
      status: 200
      note: operation list
    - url: https://developer.hometrack.com/developer/apis/prd-core-api-v2-0/operations/{operationId}?api-version=2022-04-01-preview
      status: 200
      note: per-operation request/response metadata
    - url: https://developer.hometrack.com/developer/apis/prd-core-api-v2-0/schemas?api-version=2022-04-01-preview
      status: 200
      note: component schema documents
    note: paths and components.schemas were reassembled verbatim from Hometrack's own APIM operation and
      schema metadata; nothing was invented.
    normalization: Hometrack's APIM schema document for this API is raw draft-4 JSON Schema; single-element
      'items' arrays (draft-4 tuple form) were rewritten to the equivalent single 'items' object so the
      document validates as OpenAPI 3.0. No property, type, description, or example was changed.
servers:
- url: https://api.hometrack.com/prh
- url: https://api.hometrack.local/prh
paths:
  /organisation/{orgId}/case:
    get:
      operationId: get-organisation-orgid-case
      summary: /organisation/{orgId}/case - GET
      description: Retrieve a list of PRH cases for the organisation, filtered by one or more of the queryParameters
        as described
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
      - name: lastProviderUpdatedFrom
        in: query
        required: false
        schema:
          type: string
        description: Start point to filter the response to cases last updated in a specific date/time
          range.
      - name: reportUpdatedFrom
        in: query
        required: false
        schema:
          type: string
        description: Start point to filter the response to cases with a report last updated in a specific
          date/time range.
      - name: reportUpdatedTo
        in: query
        required: false
        schema:
          type: string
        description: End point to filter the response to cases with a report last updated in a specific
          date/time range.
      - name: pageResults
        in: query
        required: false
        schema:
          type: boolean
        description: Turn paging on or off (on by default). 5000 result limit when off.
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
        description: The page size returned.
      - name: caseStatus
        in: query
        required: false
        schema:
          type: string
          enum:
          - Instructed
          - PropertyVerified
          - ValuationRetrieved
          - PropertyRisksRetrieved
          - PropertyRiskAssessed
          - PropertyRiskComplete
          - ValuationRequested
          - ValuationComplete
          - ConveyancingStarted
          - ConveyancingComplete
          - WaitingForManualReferral
          - WaitingForAVMPlusReport
          - WaitingForPRIMReport
          - WaitingForResolution
          - NotResolved
          - PhysicalValuationRequested
          - PhysicalValuationCompleted
          - WaitingForManualRepanel
          - WaitingForUnderwriterAssessment
          - OnHold
          - WaitingForUnderwriterVerification
          - PRAAssessmentStarted
          - PRAAssessmentCompleted
          - Cancelled
          - WaitingForAllocation
        description: Filter the response to cases at a specific status
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: The zero-indexed page number to return, if paging is on.
      - name: lastProviderStatus
        in: query
        required: false
        schema:
          type: string
          enum:
          - Pending
          - Completed
          - Failed
          - Timeout
          - NotRequired
          - AppointmentBooked
          - Cancelled
          - NotApplicable
          - TimedOut
          - PRIMDataReceived
          - Created
          - Offer
          - AppointmentOffered
          - AppointmentCleared
          - OnHold
        description: Filter the response to cases where the last data provider run is at a specific status.
      - name: lenderRef
        in: query
        required: false
        schema:
          type: string
        description: Filter the response by Lender reference.
      - name: instructionRef
        in: query
        required: false
        schema:
          type: string
        description: Filter the response by a complete or partial instruction reference.
      - name: hasReport
        in: query
        required: false
        schema:
          type: boolean
        description: Filter the response to cases that have a valuation report.
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
        description: Specifies how the response should be sorted, as a SQL ORDER BY string
      - name: lastProviderUpdatedTo
        in: query
        required: false
        schema:
          type: string
        description: End point to filter the response to cases last updated in a specific date/time range.
      - name: reportAcceptable
        in: query
        required: false
        schema:
          type: boolean
        description: Filter the response to cases that have a valuation report which is completed and
          passes any assessment rules.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseGet200ApplicationJsonResponse'
              example:
                TotalCount: 16529
                PageCount: 1653
                Page: 1652
                PageSize: 10
                Cases:
                - CaseId: 12345
                  InstructionReference: EE/123/456
                  CaseReference: LL9879654
                  CaseStatus: Tentative
                  riskClassification: Low
                  fullAddress: 1 Chapel Hill, Heswall, Bournemouth, Dorset, BH1 1AA
                  reportRevision: 2
                - CaseId: 67890
                  InstructionReference: REF1243
                  CaseReference: REF1243Property#1
                  CaseStatus: Open
                  riskClassification: Medium
                  fullAddress: 91 Western Road Hill, Brighton, East Sussex, BN1 2NW
                  reportRevision: null
        '400':
          description: 'Status 400 - Bad Request. The server cannot or will not process the request due
            to something that is perceived to be a client error (e.g., malformed request syntax, invalid
            request message framing, or deceptive request routing).

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseGet400ApplicationJsonResponse'
              example:
                message: Bad request
                reason: Further error information
        '401':
          description: "Status 401 - Bad or Expired Token. The OAuth token provided is Bad or it has expired.\
            \ The server is unable to process the request without a valid OAuth token. \n_This status\
            \ will only be used when the API resource has been secured using OAuth 2.0._\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseGet401ApplicationJsonResponse'
              example:
                message: Bad Token
                reason: Further error information
        '403':
          description: "Status 403 - Bad OAuth Request or Forbidden. The server has attempted to use the\
            \ OAuth token provided to authorise the access to the resource and found that the token is\
            \ bad or that access to the resource has been forbidden. \n_This status will only be used\
            \ when the API resource has been secured using OAuth 2.0._\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseGet403ApplicationJsonResponse'
              example:
                message: Forbidden
                reason: Further error information
        '404':
          description: 'Status 404 - Resource not found. The requested resource could not be found but
            may be available again in the future.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseGet404ApplicationJsonResponse'
              example:
                message: Resource not found
                reason: Further error information
        '405':
          description: 'Status 405 - Method Not Allowed. A request was made of a resource using a request
            method not supported by that resource.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseGet405ApplicationJsonResponse'
              example:
                message: Method not allowed
                reason: Further error information
        '406':
          description: 'Status 406 - Not Acceptable. The requested resource is only capable of generating
            content not acceptable according to the Accept headers sent in the request.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseGet406ApplicationJsonResponse'
              example:
                message: Not acceptable
                reason: Further error information
        '415':
          description: 'Status 415 - Unsupported Media Type. The request entity has a media type which
            the server or resource does not support.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseGet415ApplicationJsonResponse'
              example:
                message: Unsupported media type
                reason: Further error information
        '425':
          description: 'Status 425 - Too Early. The requested resource is not available yet, but will
            be soon.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseGet425ApplicationJsonResponse'
              example:
                message: Response is not ready yet. Please retry this operation later.
                reason: Further error information
        '429':
          description: 'Status 429 - Too Many Requests. The request has been submitted too many times
            within a given time window.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseGet429ApplicationJsonResponse'
              example:
                message: Request limit exceeded. Try again later.
                reason: Further error information
        '500':
          description: 'Status 500 - Internal Server Error. The server encountered an error when processing
            your request.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseGet500ApplicationJsonResponse'
              example:
                message: Internal server error
                reason: Further error information
        '502':
          description: 'Status 502 - Bad Gateway. The server was acting as a gateway or proxy and received
            an invalid response from the upstream server.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseGet502ApplicationJsonResponse'
              example:
                message: Bad gateway
                reason: Further error information
        '504':
          description: 'Status 504 - Gateway Timeout. The server, while acting as a gateway or proxy,
            did not get a response in time from the upstream server that it needed in order to complete
            the request.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseGet504ApplicationJsonResponse'
              example:
                message: Gateway Timeout
                reason: Further error information
  /organisation/{orgId}/case/{caseId}:
    get:
      operationId: get-organisation-orgid-case-caseid
      summary: /organisation/{orgId}/case/{caseId} - GET
      description: Retrieve a specific case from PRH by specifying the internal caseId.
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
      - name: caseId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdGet200ApplicationJsonResponse'
              example:
                value:
                  CaseId: 12345
                  CaseReference: Test205
                  InstructionReference: Test205#2
                  StatusId: 5
                  StatusText: Property Risk Assessed
                  DataConfigGroupId: 1
                  DataConfigGroupCode: PURCHASE
                  DataConfigGroupText: Purchase
                  RiskClassificationCode: PASS
                  RiskClassificationText: PASS
                  RiskClassificationDescription: ''
                  RiskClassificationDescriptionInternal: ''
                  InstructionAddressId: 26
                  VerifiedAddressId: 28
                  InstructionAddress:
                    AddressId: 26
                    City: Oxford
                    CreatedDate: '2016-02-11T15:26:38.327Z'
                    IsDeleted: false
                    BuildingName: Rose House
                    BuildingNumber: '17'
                    SubBuilding: Flat B
                    Line1: Gordon Cl
                    Line2: Marston
                    PostalCode: OX3 0RG
                    Province: Oxfordshire
                    UpdatedDate: '2016-02-11T15:26:38.327Z'
                  VerifiedAddress:
                    AddressId: 28
                    CreatedDate: '2016-02-11T15:26:38.327Z'
                    IsDeleted: false
                    Latitude: 72377.23
                    Longitude: 198967.79
                    BuildingName: Rose House
                    BuildingNumber: '2'
                    SubBuilding: Flat B
                    Line1: West Street
                    Line2: Oxford
                    PostalCode: OX2 5ER
                    UpdatedDate: '2017-09-13T08:35:21.05Z'
                    Uprn: '10003997997'
                  InstructionDate: '2019-10-07T00:00:00Z'
                  NumberOfBedrooms: 2
                  EstimatedValueAmount: 200000
                  PurchasePriceAmount: 0
                  LoanAmount: 100000
                  LoanToValue: 50
                  TenureId: 1
                  TenureText: Freehold
                  PrismReference: TST001-12345
                  IsPortfolio: true
                  ProcessTypeCode: PRH-SPC
                  IsNewBuild: false
                  ProcessStartDate: '2021-06-29T11:46:44.557Z'
                  CreatedDate: '2020-06-04T10:11:55.4Z'
                  UpdatedDate: '2021-07-21T13:11:42.687Z'
                  IsDeleted: false
                  BrandCode: PRH
                  BrandText: Property Risk Hub
                  ExcludeFromBilling: false
                  LatestDataProviderStatusText: Complete
                  LatestDataProviderStatusDate: '2021-06-29T11:46:50.89Z'
                  LatestDataProviderText: Climate Change
                  References:
                  - CaseId: 12345
                    CaseReferenceId: 50
                    CreatedDate: '2017-06-21T14:39:42.443Z'
                    IsDeleted: false
                    Reference: CaseReferenceExample1
                  - CaseId: 12345
                    CaseReferenceId: 51
                    CreatedDate: '2017-06-21T14:39:42.443Z'
                    IsDeleted: false
                    Reference: CaseReferenceExample2
                  Contacts:
                  - CaseContactId: 91849
                    CaseId: 12345
                    ContactClassId: 1
                    ContactTypeCode: PRIMARY
                    Title: Mr
                    Forename: Joe
                    Lastname: Bloggs
                    CreatedDate: '2020-06-04T10:11:55.37Z'
                    UpdatedDate: '2021-07-21T13:11:42.403Z'
                    IsDeleted: false
                  - CaseContactId: 91850
                    CaseId: 12345
                    ContactClassId: 1
                    ContactTypeCode: ACCESS
                    Forename: Mr Smith
                    CreatedDate: '2020-06-04T10:11:55.37Z'
                    UpdatedDate: '2021-07-21T13:11:42.403Z'
                    IsDeleted: false
                  CustomAttributes:
                  - CaseCustomAttributeId: 577454
                    CaseId: 12345
                    Key: Application Sub Type
                    Value: Buy to Let
                    IsDisplayed: true
                    CreatedDate: '2020-06-04T10:11:55.37Z'
                    IsDeleted: false
                  - CaseCustomAttributeId: 577455
                    CaseId: 12345
                    Key: VendorLimitedCompany
                    Value: N
                    IsDisplayed: true
                    CreatedDate: '2020-06-04T10:11:55.37Z'
                    IsDeleted: false
                  - CaseCustomAttributeId: 577456
                    CaseId: 12345
                    Key: PrivateSale
                    Value: N
                    IsDisplayed: true
                    CreatedDate: '2020-06-04T10:11:55.37Z'
                    IsDeleted: false
                  CaseConditions: []
                  CaseOutcomes:
                  - CaseOutcomeId: 8712
                    CaseId: 12345
                    ItemKey: '701'
                    ItemValue: AVM Accept
                    DisplayTitle: AVM Accept
                    IsDisplayed: true
                    RiskLevelId: 2
                  - CaseOutcomeId: 8713
                    CaseId: 12345
                    ItemKey: '503'
                    ItemValue: 'Climate change risk identified: Ambiental future flood score exceeds threshold'
                    DisplayTitle: 'Climate change risk identified: Ambiental future flood score exceeds
                      threshold'
                    IsDisplayed: true
                    RiskLevelId: 2
                  - CaseOutcomeId: 8714
                    CaseId: 12345
                    ItemKey: '350'
                    ItemValue: This Property has been identified to have a potential EPC Rating of B
                    DisplayTitle: This Property has been identified to have a potential EPC Rating of
                      B
                    IsDisplayed: true
                    RiskLevelId: 2
                  CaseResult:
                    CaseId: 12345
                    IsRiskDecision: false
                    IsFurtherValuationRequired: false
                    AvmReference: '88957659'
                    AvmDataProviderId: 21
                    AvmDataProviderCode: HOMETRACK
                    ValuationAmount: 316434
                    ValuationDate: '2021-10-10T13:00:00Z'
                    ValuationConfidence: 6.8
                    Tenure: Freehold
                    RentalAmount: 865
                    RentalConfidence: 4.3
                    ClassOfTitle: AF
                    CreatedDate: '2021-10-10T10:13:00.083Z'
                    UpdatedDate: '2021-10-10T11:45:43.73Z'
                    IsDeleted: false
                  CaseResultItems:
                  - CaseResultItemId: 123415
                    CaseId: 12345
                    ItemKey: ClimateChangeRAG
                    ItemValue: Green
                    IsDisplayed: true
                    CreatedDate: '2021-09-15T12:00:00Z'
                    IsDeleted: false
                  - CaseResultItemId: 123416
                    CaseId: 12345
                    ItemKey: ConcentrationRiskRAG
                    ItemValue: Green
                    IsDisplayed: true
                    CreatedDate: '2021-09-15T12:00:00Z'
                    IsDeleted: false
                  - CaseResultItemId: 123417
                    CaseId: 12345
                    ItemKey: AVMRAG
                    ItemValue: Green
                    IsDisplayed: true
                    CreatedDate: '2021-09-15T12:00:00Z'
                    IsDeleted: false
                  - CaseResultItemId: 123418
                    CaseId: 12345
                    ItemKey: valuationamount
                    ItemValue: '316434'
                    IsDisplayed: true
                    CreatedDate: '2021-09-15T12:00:00Z'
                    IsDeleted: false
                  - CaseResultItemId: 123419
                    CaseId: 12345
                    ItemKey: valuationconfidence
                    ItemValue: '6.8'
                    IsDisplayed: true
                    CreatedDate: '2021-09-15T12:00:00Z'
                    IsDeleted: false
                  - CaseResultItemId: 123418
                    CaseId: 12345
                    ItemKey: marketrentvaluation
                    ItemValue: '865'
                    IsDisplayed: true
                    CreatedDate: '2021-09-15T12:00:00Z'
                    IsDeleted: false
                  - CaseResultItemId: 123419
                    CaseId: 12345
                    ItemKey: marketrentconfidencelevel
                    ItemValue: '4.3'
                    IsDisplayed: true
                    CreatedDate: '2021-09-15T12:00:00Z'
                    IsDeleted: false
                  - CaseResultItemId: 123420
                    CaseId: 12345
                    ItemKey: avm.propertytypeid
                    ItemValue: '1'
                    IsDisplayed: true
                    CreatedDate: '2021-09-15T12:00:00Z'
                    IsDeleted: false
                  - CaseResultItemId: 123421
                    CaseId: 12345
                    ItemKey: avm.propertytype
                    ItemValue: House
                    IsDisplayed: true
                    CreatedDate: '2021-09-15T12:00:00Z'
                    IsDeleted: false
                  - CaseResultItemId: 123422
                    CaseId: 12345
                    ItemKey: avm.propertystyle
                    ItemValue: Mid Terrace
                    IsDisplayed: true
                    CreatedDate: '2021-09-15T12:00:00Z'
                    IsDeleted: false
                  - CaseResultItemId: 123423
                    CaseId: 12345
                    ItemKey: avm.displayproptypeid
                    ItemValue: '1'
                    IsDisplayed: true
                    CreatedDate: '2021-09-15T12:00:00Z'
                    IsDeleted: false
                  - CaseResultItemId: 123424
                    CaseId: 12345
                    ItemKey: avm.displaypropstyleid
                    ItemValue: '4'
                    IsDisplayed: true
                    CreatedDate: '2021-09-15T12:00:00Z'
                    IsDeleted: false
                  - CaseResultItemId: 123425
                    CaseId: 12345
                    ItemKey: avm.htproptypeid
                    ItemValue: '1'
                    IsDisplayed: true
                    CreatedDate: '2021-09-15T12:00:00Z'
                    IsDeleted: false
                  - CaseResultItemId: 123426
                    CaseId: 12345
                    ItemKey: avm.bedrooms
                    ItemValue: '2'
                    IsDisplayed: true
                    CreatedDate: '2021-09-15T12:00:00Z'
                    IsDeleted: false
                  - CaseResultItemId: 123427
                    CaseId: 12345
                    ItemKey: avm.receptions
                    ItemValue: '1'
                    IsDisplayed: true
                    CreatedDate: '2021-09-15T12:00:00Z'
                    IsDeleted: false
                  - CaseResultItemId: 123428
                    CaseId: 12345
                    ItemKey: avm.addresspointtoid
                    ItemValue: '1000002148190233'
                    IsDisplayed: true
                    CreatedDate: '2021-09-15T12:00:00Z'
                    IsDeleted: false
                  - CaseResultItemId: 123429
                    CaseId: 12345
                    ItemKey: avm.buildingtoid
                    ItemValue: '1000042305602'
                    IsDisplayed: true
                    CreatedDate: '2021-09-15T12:00:00Z'
                    IsDeleted: false
                  - CaseResultItemId: 123430
                    CaseId: 12345
                    ItemKey: avm.floorarea
                    ItemValue: '100'
                    IsDisplayed: true
                    CreatedDate: '2021-09-15T12:00:00Z'
                    IsDeleted: false
                  - CaseResultItemId: 123431
                    CaseId: 12345
                    ItemKey: avm.asofdate
                    ItemValue: '2021-09-15T12:00:00Z'
                    IsDisplayed: true
                    CreatedDate: '2021-09-15T12:00:00Z'
                    IsDeleted: false
                  - CaseResultItemId: 123432
                    CaseId: 12345
                    ItemKey: avm.knownvalue
                    ItemValue: '350000'
                    IsDisplayed: true
                    CreatedDate: '2021-09-15T12:00:00Z'
                    IsDeleted: false
                  - CaseResultItemId: 123433
                    CaseId: 12345
                    ItemKey: avm.knownvaluedate
                    ItemValue: '2021-09-15T12:00:00Z'
                    IsDisplayed: true
                    CreatedDate: '2021-09-15T12:00:00Z'
                    IsDeleted: false
                  - CaseResultItemId: 123434
                    CaseId: 12345
                    ItemKey: avm.constructiontype
                    ItemValue: Standard
                    IsDisplayed: true
                    CreatedDate: '2021-09-15T12:00:00Z'
                    IsDeleted: false
                  - CaseResultItemId: 123435
                    CaseId: 12345
                    ItemKey: avm.yearbuilt
                    ItemValue: '1860'
                    IsDisplayed: true
                    CreatedDate: '2021-09-15T12:00:00Z'
                    IsDeleted: false
                  - CaseResultItemId: 123436
                    CaseId: 12345
                    ItemKey: avm.x_coord
                    ItemValue: '532676.000'
                    IsDisplayed: true
                    CreatedDate: '2021-09-15T12:00:00Z'
                    IsDeleted: false
                  - CaseResultItemId: 123437
                    CaseId: 12345
                    ItemKey: avm.y_coord
                    ItemValue: '172298.000'
                    IsDisplayed: true
                    CreatedDate: '2021-09-15T12:00:00Z'
                    IsDeleted: false
                  - CaseResultItemId: 123438
                    CaseId: 12345
                    ItemKey: avm.acorncategoryvalue
                    ItemValue: '2'
                    IsDisplayed: true
                    CreatedDate: '2021-09-15T12:00:00Z'
                    IsDeleted: false
                  - CaseResultItemId: 123417
                    CaseId: 12345
                    ItemKey: RawClimateChangeData
                    ItemValue: '{"GroundRisk":{"Current":[{"HighestScore":null,"MiningScore":30,"MiningNonCoalScore":30,"MiningCoalScore":0,"MiningCheshireBrineScore":0,"DissolutionScore":0,"SinkHoleScore":0,"MiscellaneousScore":0,"SoilSubsidenceScore":20,"CoastalErosionScore":0,"LandslipScore":0,"Shape":"0101000020346C000000000000E0E6154100000000B0EE0541","SubsidenceScore":6}],"Future":[{"Year":2050,"Scenario":6,"PropertyKey":8163,"UPRN":220,"HighestScore":30,"SoilSubsidenceScore":20,"CoastalErosionScore":0,"SubsidenceScore":6},{"Year":2080,"Scenario":6,"PropertyKey":8163,"UPRN":220,"HighestScore":30,"SoilSubsidenceScore":30,"CoastalErosionScore":0,"SubsidenceScore":7},{"Year":2080,"Scenario":8.5,"PropertyKey":8163,"UPRN":220,"HighestScore":30,"SoilSubsidenceScore":30,"CoastalErosionScore":0,"SubsidenceScore":7},{"Year":2050,"Scenario":8.5,"PropertyKey":8163,"UPRN":220,"HighestScore":30,"SoilSubsidenceScore":30,"CoastalErosionScore":0,"SubsidenceScore":7},{"Year":2050,"Scenario":2.6,"PropertyKey":8163,"UPRN":220,"HighestScore":30,"SoilSubsidenceScore":20,"CoastalErosionScore":0,"SubsidenceScore":6},{"Year":2020,"Scenario":2.6,"PropertyKey":8163,"UPRN":220,"HighestScore":30,"SoilSubsidenceScore":20,"CoastalErosionScore":0,"SubsidenceScore":6},{"Year":2020,"Scenario":6,"PropertyKey":8163,"UPRN":220,"HighestScore":30,"SoilSubsidenceScore":20,"CoastalErosionScore":0,"SubsidenceScore":6},{"Year":2020,"Scenario":8.5,"PropertyKey":8163,"UPRN":220,"HighestScore":30,"SoilSubsidenceScore":20,"CoastalErosionScore":0,"SubsidenceScore":6},{"Year":2080,"Scenario":2.6,"PropertyKey":8163,"UPRN":220,"HighestScore":30,"SoilSubsidenceScore":30,"CoastalErosionScore":0,"SubsidenceScore":7}]},"FloodScore":{"Current":[{"FloodDefenceLevel":0,"DefendedScore":1,"DefendedRiskRatio":3,"DefendedADR":0.00749,"DefendedAAL":17,"DefendedFluvialScore":0,"DefendedFluvialRiskRatio":0,"DefendedFluvialMaxDepth30Years":0,"DefendedFluvialMaxDepth75Years":0,"DefendedFluvialMaxDepth100Years":0,"DefendedFluvialMaxDepth250Years":0,"DefendedFluvialMaxDepth500Years":0,"DefendedFluvialMaxDepth1000Years":0,"DefendedFluvialADR":0,"DefendedFluvialAAL":0,"DefendedTidalScore":0,"DefendedTidalRiskRatio":0,"DefendedTidalMaxDepth30Years":0,"DefendedTidalMaxDepth75Years":0,"DefendedTidalMaxDepth100Years":0,"DefendedTidalMaxDepth250Years":0,"DefendedTidalMaxDepth500Years":0,"DefendedTidalMaxDepth1000Years":0,"DefendedTidalADR":0,"DefendedTidalAAL":0,"UndefendedScore":1,"UndefendedRiskRatio":3,"UndefendedADR":0.00749,"UndefendedAAL":17,"UndefendedFluvialScore":0,"UndefendedFluvialRiskRatio":0,"UndefendedFluvialMaxDepth30Years":0,"UndefendedFluvialMaxDepth75Years":0,"UndefendedFluvialMaxDepth100Years":0,"UndefendedFluvialMaxDepth250Years":0,"UndefendedFluvialMaxDepth500Years":0,"UndefendedFluvialMaxDepth1000Years":0,"UndefendedFluvialADR":0,"UndefendedFluvialAAL":0,"UndefendedTidalScore":0,"UndefendedTidalRiskRatio":0,"UndefendedTidalMaxDepth30Years":0,"UndefendedTidalMaxDepth75Years":0,"UndefendedTidalMaxDepth100Years":0,"UndefendedTidalMaxDepth250Years":0,"UndefendedTidalMaxDepth500Years":0,"UndefendedTidalMaxDepth1000Years":0,"UndefendedTidalADR":0,"UndefendedTidalAAL":0,"UndefendedPluvialScore":1,"UndefendedPluvialRiskRatio":3,"UndefendedPluvialMaxDepth30Years":0,"UndefendedPluvialMaxDepth75Years":0,"UndefendedPluvialMaxDepth100Years":0,"UndefendedPluvialMaxDepth250Years":0.01,"UndefendedPluvialMaxDepth500Years":0.02,"UndefendedPluvialMaxDepth1000Years":0.03,"UndefendedPluvialADR":0.00749,"UndefendedPluvialAAL":17}],"Future":[{"Year":2093,"Scenario":2.6,"FloodDefenceLevel":0,"DefendedScore":1,"DefendedRiskRatio":3,"DefendedADR":0.00749,"DefendedAAL":17,"DefendedFluvialScore":0,"DefendedFluvialRiskRatio":0,"DefendedFluvialMaxDepth30Years":0,"DefendedFluvialMaxDepth75Years":0,"DefendedFluvialMaxDepth100Years":0,"DefendedFluvialMaxDepth250Years":0,"DefendedFluvialMaxDepth500Years":0,"DefendedFluvialMaxDepth1000Years":0,"DefendedFluvialADR":0,"DefendedFluvialAAL":0,"DefendedTidalScore":0,"DefendedTidalRiskRatio":0,"DefendedTidalMaxDepth30Years":0,"DefendedTidalMaxDepth75Years":0,"DefendedTidalMaxDepth100Years":0,"DefendedTidalMaxDepth250Years":0,"DefendedTidalMaxDepth500Years":0,"DefendedTidalMaxDepth1000Years":0,"DefendedTidalADR":0,"DefendedTidalAAL":0,"UndefendedScore":1,"UndefendedRiskRatio":3,"UndefendedADR":0.00749,"UndefendedAAL":17,"UndefendedFluvialScore":0,"UndefendedFluvialRiskRatio":0,"UndefendedFluvialMaxDepth30Years":0,"UndefendedFluvialMaxDepth75Years":0,"UndefendedFluvialMaxDepth100Years":0,"UndefendedFluvialMaxDepth250Years":0,"UndefendedFluvialMaxDepth500Years":0,"UndefendedFluvialMaxDepth1000Years":0,"UndefendedFluvialADR":0,"UndefendedFluvialAAL":0,"UndefendedTidalScore":0,"UndefendedTidalRiskRatio":0,"UndefendedTidalMaxDepth30Years":0,"UndefendedTidalMaxDepth75Years":0,"UndefendedTidalMaxDepth100Years":0,"UndefendedTidalMaxDepth250Years":0,"UndefendedTidalMaxDepth500Years":0,"UndefendedTidalMaxDepth1000Years":0,"UndefendedTidalADR":0,"UndefendedTidalAAL":0,"UndefendedPluvialScore":1,"UndefendedPluvialRiskRatio":3,"UndefendedPluvialMaxDepth30Years":0,"UndefendedPluvialMaxDepth75Years":0,"UndefendedPluvialMaxDepth100Years":0,"UndefendedPluvialMaxDepth250Years":0.01,"UndefendedPluvialMaxDepth500Years":0.02,"UndefendedPluvialMaxDepth1000Years":0.03,"UndefendedPluvialADR":0.00749,"UndefendedPluvialAAL":17},{"Year":2055,"Scenario":8.5,"FloodDefenceLevel":0,"DefendedScore":1,"DefendedRiskRatio":7,"DefendedADR":0.01819,"DefendedAAL":42,"DefendedFluvialScore":0,"DefendedFluvialRiskRatio":0,"DefendedFluvialMaxDepth30Years":0,"DefendedFluvialMaxDepth75Years":0,"DefendedFluvialMaxDepth100Years":0,"DefendedFluvialMaxDepth250Years":0,"DefendedFluvialMaxDepth500Years":0,"DefendedFluvialMaxDepth1000Years":0,"DefendedFluvialADR":0,"DefendedFluvialAAL":0,"DefendedTidalScore":0,"DefendedTidalRiskRatio":0,"DefendedTidalMaxDepth30Years":0,"DefendedTidalMaxDepth75Years":0,"DefendedTidalMaxDepth100Years":0,"DefendedTidalMaxDepth250Years":0,"DefendedTidalMaxDepth500Years":0,"DefendedTidalMaxDepth1000Years":0,"DefendedTidalADR":0,"DefendedTidalAAL":0,"UndefendedScore":1,"UndefendedRiskRatio":7,"UndefendedADR":0.01819,"UndefendedAAL":42,"UndefendedFluvialScore":0,"UndefendedFluvialRiskRatio":0,"UndefendedFluvialMaxDepth30Years":0,"UndefendedFluvialMaxDepth75Years":0,"UndefendedFluvialMaxDepth100Years":0,"UndefendedFluvialMaxDepth250Years":0,"UndefendedFluvialMaxDepth500Years":0,"UndefendedFluvialMaxDepth1000Years":0,"UndefendedFluvialADR":0,"UndefendedFluvialAAL":0,"UndefendedTidalScore":0,"UndefendedTidalRiskRatio":0,"UndefendedTidalMaxDepth30Years":0,"UndefendedTidalMaxDepth75Years":0,"UndefendedTidalMaxDepth100Years":0,"UndefendedTidalMaxDepth250Years":0,"UndefendedTidalMaxDepth500Years":0,"UndefendedTidalMaxDepth1000Years":0,"UndefendedTidalADR":0,"UndefendedTidalAAL":0,"UndefendedPluvialScore":1,"UndefendedPluvialRiskRatio":7,"UndefendedPluvialMaxDepth30Years":0,"UndefendedPluvialMaxDepth75Years":0.01,"UndefendedPluvialMaxDepth100Years":0.01,"UndefendedPluvialMaxDepth250Years":0.03,"UndefendedPluvialMaxDepth500Years":0.03,"UndefendedPluvialMaxDepth1000Years":0.04,"UndefendedPluvialADR":0.01819,"UndefendedPluvialAAL":42},{"Year":2093,"Scenario":8.5,"FloodDefenceLevel":0,"DefendedScore":1,"DefendedRiskRatio":12,"DefendedADR":0.03246,"DefendedAAL":75,"DefendedFluvialScore":0,"DefendedFluvialRiskRatio":0,"DefendedFluvialMaxDepth30Years":0,"DefendedFluvialMaxDepth75Years":0,"DefendedFluvialMaxDepth100Years":0,"DefendedFluvialMaxDepth250Years":0,"DefendedFluvialMaxDepth500Years":0,"DefendedFluvialMaxDepth1000Years":0,"DefendedFluvialADR":0,"DefendedFluvialAAL":0,"DefendedTidalScore":0,"DefendedTidalRiskRatio":0,"DefendedTidalMaxDepth30Years":0,"DefendedTidalMaxDepth75Years":0,"DefendedTidalMaxDepth100Years":0,"DefendedTidalMaxDepth250Years":0,"DefendedTidalMaxDepth500Years":0,"DefendedTidalMaxDepth1000Years":0,"DefendedTidalADR":0,"DefendedTidalAAL":0,"UndefendedScore":1,"UndefendedRiskRatio":12,"UndefendedADR":0.03246,"UndefendedAAL":75,"UndefendedFluvialScore":0,"UndefendedFluvialRiskRatio":0,"UndefendedFluvialMaxDepth30Years":0,"UndefendedFluvialMaxDepth75Years":0,"UndefendedFluvialMaxDepth100Years":0,"UndefendedFluvialMaxDepth250Years":0,"UndefendedFluvialMaxDepth500Years":0,"UndefendedFluvialMaxDepth1000Years":0,"UndefendedFluvialADR":0,"UndefendedFluvialAAL":0,"UndefendedTidalScore":0,"UndefendedTidalRiskRatio":0,"UndefendedTidalMaxDepth30Years":0,"UndefendedTidalMaxDepth75Years":0,"UndefendedTidalMaxDepth100Years":0,"UndefendedTidalMaxDepth250Years":0,"UndefendedTidalMaxDepth500Years":0,"UndefendedTidalMaxDepth1000Years":0,"UndefendedTidalADR":0,"UndefendedTidalAAL":0,"UndefendedPluvialScore":1,"UndefendedPluvialRiskRatio":12,"UndefendedPluvialMaxDepth30Years":0.01,"UndefendedPluvialMaxDepth75Years":0.02,"UndefendedPluvialMaxDepth100Years":0.03,"UndefendedPluvialMaxDepth250Years":0.03,"UndefendedPluvialMaxDepth500Years":0.04,"UndefendedPluvialMaxDepth1000Years":0.04,"UndefendedPluvialADR":0.03246,"UndefendedPluvialAAL":75},{"Year":2093,"Scenario":6,"FloodDefenceLevel":0,"DefendedScore":1,"DefendedRiskRatio":7,"DefendedADR":0.01819,"DefendedAAL":42,"DefendedFluvialScore":0,"DefendedFluvialRiskRatio":0,"DefendedFluvialMaxDepth30Years":0,"DefendedFluvialMaxDepth75Years":0,"DefendedFluvialMaxDepth100Years":0,"DefendedFluvialMaxDepth250Years":0,"DefendedFluvialMaxDepth500Years":0,"DefendedFluvialMaxDepth1000Years":0,"DefendedFluvialADR":0,"DefendedFluvialAAL":0,"DefendedTidalScore":0,"DefendedTidalRiskRatio":0,"DefendedTidalMaxDepth30Years":0,"DefendedTidalMaxDepth75Years":0,"DefendedTidalMaxDepth100Years":0,"DefendedTidalMaxDepth250Years":0,"DefendedTidalMaxDepth500Years":0,"DefendedTidalMaxDepth1000Years":0,"DefendedTidalADR":0,"DefendedTidalAAL":0,"UndefendedScore":1,"UndefendedRiskRatio":7,"UndefendedADR":0.01819,"UndefendedAAL":42,"UndefendedFluvialScore":0,"UndefendedFluvialRiskRatio":0,"UndefendedFluvialMaxDepth30Years":0,"UndefendedFluvialMaxDepth75Years":0,"UndefendedFluvialMaxDepth100Years":0,"UndefendedFluvialMaxDepth250Years":0,"UndefendedFluvialMaxDepth500Years":0,"UndefendedFluvialMaxDepth1000Years":0,"UndefendedFluvialADR":0,"UndefendedFluvialAAL":0,"UndefendedTidalScore":0,"UndefendedTidalRiskRatio":0,"UndefendedTidalMaxDepth30Years":0,"UndefendedTidalMaxDepth75Years":0,"UndefendedTidalMaxDepth100Years":0,"UndefendedTidalMaxDepth250Years":0,"UndefendedTidalMaxDepth500Years":0,"UndefendedTidalMaxDepth1000Years":0,"UndefendedTidalADR":0,"UndefendedTidalAAL":0,"UndefendedPluvialScore":1,"UndefendedPluvialRiskRatio":7,"UndefendedPluvialMaxDepth30Years":0,"UndefendedPluvialMaxDepth75Years":0.01,"UndefendedPluvialMaxDepth100Years":0.01,"UndefendedPluvialMaxDepth250Years":0.03,"UndefendedPluvialMaxDepth500Years":0.03,"UndefendedPluvialMaxDepth1000Years":0.04,"UndefendedPluvialADR":0.01819,"UndefendedPluvialAAL":42},{"Year":2027,"Scenario":6,"FloodDefenceLevel":0,"DefendedScore":1,"DefendedRiskRatio":3,"DefendedADR":0.00749,"DefendedAAL":17,"DefendedFluvialScore":0,"DefendedFluvialRiskRatio":0,"DefendedFluvialMaxDepth30Years":0,"DefendedFluvialMaxDepth75Years":0,"DefendedFluvialMaxDepth100Years":0,"DefendedFluvialMaxDepth250Years":0,"DefendedFluvialMaxDepth500Years":0,"DefendedFluvialMaxDepth1000Years":0,"DefendedFluvialADR":0,"DefendedFluvialAAL":0,"DefendedTidalScore":0,"DefendedTidalRiskRatio":0,"DefendedTidalMaxDepth30Years":0,"DefendedTidalMaxDepth75Years":0,"DefendedTidalMaxDepth100Years":0,"DefendedTidalMaxDepth250Years":0,"DefendedTidalMaxDepth500Years":0,"DefendedTidalMaxDepth1000Years":0,"DefendedTidalADR":0,"DefendedTidalAAL":0,"UndefendedScore":1,"UndefendedRiskRatio":3,"UndefendedADR":0.00749,"UndefendedAAL":17,"UndefendedFluvialScore":0,"UndefendedFluvialRiskRatio":0,"UndefendedFluvialMaxDepth30Years":0,"UndefendedFluvialMaxDepth75Years":0,"UndefendedFluvialMaxDepth100Years":0,"UndefendedFluvialMaxDepth250Years":0,"UndefendedFluvialMaxDepth500Years":0,"UndefendedFluvialMaxDepth1000Years":0,"UndefendedFluvialADR":0,"UndefendedFluvialAAL":0,"UndefendedTidalScore":0,"UndefendedTidalRiskRatio":0,"UndefendedTidalMaxDepth30Years":0,"UndefendedTidalMaxDepth75Years":0,"UndefendedTidalMaxDepth100Years":0,"UndefendedTidalMaxDepth250Years":0,"UndefendedTidalMaxDepth500Years":0,"UndefendedTidalMaxDepth1000Years":0,"UndefendedTidalADR":0,"UndefendedTidalAAL":0,"UndefendedPluvialScore":1,"UndefendedPluvialRiskRatio":3,"UndefendedPluvialMaxDepth30Years":0,"UndefendedPluvialMaxDepth75Years":0,"UndefendedPluvialMaxDepth100Years":0,"UndefendedPluvialMaxDepth250Years":0.01,"UndefendedPluvialMaxDepth500Years":0.02,"UndefendedPluvialMaxDepth1000Years":0.03,"UndefendedPluvialADR":0.00749,"UndefendedPluvialAAL":17},{"Year":2027,"Scenario":4.5,"FloodDefenceLevel":0,"DefendedScore":1,"DefendedRiskRatio":3,"DefendedADR":0.00749,"DefendedAAL":17,"DefendedFluvialScore":0,"DefendedFluvialRiskRatio":0,"DefendedFluvialMaxDepth30Years":0,"DefendedFluvialMaxDepth75Years":0,"DefendedFluvialMaxDepth100Years":0,"DefendedFluvialMaxDepth250Years":0,"DefendedFluvialMaxDepth500Years":0,"DefendedFluvialMaxDepth1000Years":0,"DefendedFluvialADR":0,"DefendedFluvialAAL":0,"DefendedTidalScore":0,"DefendedTidalRiskRatio":0,"DefendedTidalMaxDepth30Years":0,"DefendedTidalMaxDepth75Years":0,"DefendedTidalMaxDepth100Years":0,"DefendedTidalMaxDepth250Years":0,"DefendedTidalMaxDepth500Years":0,"DefendedTidalMaxDepth1000Years":0,"DefendedTidalADR":0,"DefendedTidalAAL":0,"UndefendedScore":1,"UndefendedRiskRatio":3,"UndefendedADR":0.00749,"UndefendedAAL":17,"UndefendedFluvialScore":0,"UndefendedFluvialRiskRatio":0,"UndefendedFluvialMaxDepth30Years":0,"UndefendedFluvialMaxDepth75Years":0,"UndefendedFluvialMaxDepth100Years":0,"UndefendedFluvialMaxDepth250Years":0,"UndefendedFluvialMaxDepth500Years":0,"UndefendedFluvialMaxDepth1000Years":0,"UndefendedFluvialADR":0,"UndefendedFluvialAAL":0,"UndefendedTidalScore":0,"UndefendedTidalRiskRatio":0,"UndefendedTidalMaxDepth30Years":0,"UndefendedTidalMaxDepth75Years":0,"UndefendedTidalMaxDepth100Years":0,"UndefendedTidalMaxDepth250Years":0,"UndefendedTidalMaxDepth500Years":0,"UndefendedTidalMaxDepth1000Years":0,"UndefendedTidalADR":0,"UndefendedTidalAAL":0,"UndefendedPluvialScore":1,"UndefendedPluvialRiskRatio":3,"UndefendedPluvialMaxDepth30Years":0,"UndefendedPluvialMaxDepth75Years":0,"UndefendedPluvialMaxDepth100Years":0,"UndefendedPluvialMaxDepth250Years":0.01,"UndefendedPluvialMaxDepth500Years":0.03,"UndefendedPluvialMaxDepth1000Years":0.03,"UndefendedPluvialADR":0.00749,"UndefendedPluvialAAL":17},{"Year":2055,"Scenario":4.5,"FloodDefenceLevel":0,"DefendedScore":1,"DefendedRiskRatio":3,"DefendedADR":0.00749,"DefendedAAL":17,"DefendedFluvialScore":0,"DefendedFluvialRiskRatio":0,"DefendedFluvialMaxDepth30Years":0,"DefendedFluvialMaxDepth75Years":0,"DefendedFluvialMaxDepth100Years":0,"DefendedFluvialMaxDepth250Years":0,"DefendedFluvialMaxDepth500Years":0,"DefendedFluvialMaxDepth1000Years":0,"DefendedFluvialADR":0,"DefendedFluvialAAL":0,"DefendedTidalScore":0,"DefendedTidalRiskRatio":0,"DefendedTidalMaxDepth30Years":0,"DefendedTidalMaxDepth75Years":0,"DefendedTidalMaxDepth100Years":0,"DefendedTidalMaxDepth250Years":0,"DefendedTidalMaxDepth500Years":0,"DefendedTidalMaxDepth1000Years":0,"DefendedTidalADR":0,"DefendedTidalAAL":0,"UndefendedScore":1,"UndefendedRiskRatio":3,"UndefendedADR":0.00749,"UndefendedAAL":17,"UndefendedFluvialScore":0,"UndefendedFluvialRiskRatio":0,"UndefendedFluvialMaxDepth30Years":0,"UndefendedFluvialMaxDepth75Years":0,"UndefendedFluvialMaxDepth100Years":0,"UndefendedFluvialMaxDepth250Years":0,"UndefendedFluvialMaxDepth500Years":0,"UndefendedFluvialMaxDepth1000Years":0,"UndefendedFluvialADR":0,"UndefendedFluvialAAL":0,"UndefendedTidalScore":0,"UndefendedTidalRiskRatio":0,"UndefendedTidalMaxDepth30Years":0,"UndefendedTidalMaxDepth75Years":0,"UndefendedTidalMaxDepth100Years":0,"UndefendedTidalMaxDepth250Years":0,"UndefendedTidalMaxDepth500Years":0,"UndefendedTidalMaxDepth1000Years":0,"UndefendedTidalADR":0,"UndefendedTidalAAL":0,"UndefendedPluvialScore":1,"UndefendedPluvialRiskRatio":3,"UndefendedPluvialMaxDepth30Years":0,"UndefendedPluvialMaxDepth75Years":0,"UndefendedPluvialMaxDepth100Years":0,"UndefendedPluvialMaxDepth250Years":0.02,"UndefendedPluvialMaxDepth500Years":0.03,"UndefendedPluvialMaxDepth1000Years":0.03,"UndefendedPluvialADR":0.00749,"UndefendedPluvialAAL":17},{"Year":2093,"Scenario":4.5,"FloodDefenceLevel":0,"DefendedScore":1,"DefendedRiskRatio":3,"DefendedADR":0.00749,"DefendedAAL":17,"DefendedFluvialScore":0,"DefendedFluvialRiskRatio":0,"DefendedFluvialMaxDepth30Years":0,"DefendedFluvialMaxDepth75Years":0,"DefendedFluvialMaxDepth100Years":0,"DefendedFluvialMaxDepth250Years":0,"DefendedFluvialMaxDepth500Years":0,"DefendedFluvialMaxDepth1000Years":0,"DefendedFluvialADR":0,"DefendedFluvialAAL":0,"DefendedTidalScore":0,"DefendedTidalRiskRatio":0,"DefendedTidalMaxDepth30Years":0,"DefendedTidalMaxDepth75Years":0,"DefendedTidalMaxDepth100Years":0,"DefendedTidalMaxDepth250Years":0,"DefendedTidalMaxDepth500Years":0,"DefendedTidalMaxDepth1000Years":0,"DefendedTidalADR":0,"DefendedTidalAAL":0,"UndefendedScore":1,"UndefendedRiskRatio":3,"UndefendedADR":0.00749,"UndefendedAAL":17,"UndefendedFluvialScore":0,"UndefendedFluvialRiskRatio":0,"UndefendedFluvialMaxDepth30Years":0,"UndefendedFluvialMaxDepth75Years":0,"UndefendedFluvialMaxDepth100Years":0,"UndefendedFluvialMaxDepth250Years":0,"UndefendedFluvialMaxDepth500Years":0,"UndefendedFluvialMaxDepth1000Years":0,"UndefendedFluvialADR":0,"UndefendedFluvialAAL":0,"UndefendedTidalScore":0,"UndefendedTidalRiskRatio":0,"UndefendedTidalMaxDepth30Years":0,"UndefendedTidalMaxDepth75Years":0,"UndefendedTidalMaxDepth100Years":0,"UndefendedTidalMaxDepth250Years":0,"UndefendedTidalMaxDepth500Years":0,"UndefendedTidalMaxDepth1000Years":0,"UndefendedTidalADR":0,"UndefendedTidalAAL":0,"UndefendedPluvialScore":1,"UndefendedPluvialRiskRatio":3,"UndefendedPluvialMaxDepth30Years":0,"UndefendedPluvialMaxDepth75Years":0,"UndefendedPluvialMaxDepth100Years":0.01,"UndefendedPluvialMaxDepth250Years":0.02,"UndefendedPluvialMaxDepth500Years":0.03,"UndefendedPluvialMaxDepth1000Years":0.03,"UndefendedPluvialADR":0.00749,"UndefendedPluvialAAL":17},{"Year":2027,"Scenario":8.5,"FloodDefenceLevel":0,"DefendedScore":1,"DefendedRiskRatio":3,"DefendedADR":0.00749,"DefendedAAL":17,"DefendedFluvialScore":0,"DefendedFluvialRiskRatio":0,"DefendedFluvialMaxDepth30Years":0,"DefendedFluvialMaxDepth75Years":0,"DefendedFluvialMaxDepth100Years":0,"DefendedFluvialMaxDepth250Years":0,"DefendedFluvialMaxDepth500Years":0,"DefendedFluvialMaxDepth1000Years":0,"DefendedFluvialADR":0,"DefendedFluvialAAL":0,"DefendedTidalScore":0,"DefendedTidalRiskRatio":0,"DefendedTidalMaxDepth30Years":0,"DefendedTidalMaxDepth75Years":0,"DefendedTidalMaxDepth100Years":0,"DefendedTidalMaxDepth250Years":0,"DefendedTidalMaxDepth500Years":0,"DefendedTidalMaxDepth1000Years":0,"DefendedTidalADR":0,"DefendedTidalAAL":0,"UndefendedScore":1,"UndefendedRiskRatio":3,"UndefendedADR":0.00749,"UndefendedAAL":17,"UndefendedFluvialScore":0,"UndefendedFluvialRiskRatio":0,"UndefendedFluvialMaxDepth30Years":0,"UndefendedFluvialMaxDepth75Years":0,"UndefendedFluvialMaxDepth100Years":0,"UndefendedFluvialMaxDepth250Years":0,"UndefendedFluvialMaxDepth500Years":0,"UndefendedFluvialMaxDepth1000Years":0,"UndefendedFluvialADR":0,"UndefendedFluvialAAL":0,"UndefendedTidalScore":0,"UndefendedTidalRiskRatio":0,"UndefendedTidalMaxDepth30Years":0,"UndefendedTidalMaxDepth75Years":0,"UndefendedTidalMaxDepth100Years":0,"UndefendedTidalMaxDepth250Years":0,"UndefendedTidalMaxDepth500Years":0,"UndefendedTidalMaxDepth1000Years":0,"UndefendedTidalADR":0,"UndefendedTidalAAL":0,"UndefendedPluvialScore":1,"UndefendedPluvialRiskRatio":3,"UndefendedPluvialMaxDepth30Years":0,"UndefendedPluvialMaxDepth75Years":0,"UndefendedPluvialMaxDepth100Years":0,"UndefendedPluvialMaxDepth250Years":0.02,"UndefendedPluvialMaxDepth500Years":0.03,"UndefendedPluvialMaxDepth1000Years":0.03,"UndefendedPluvialADR":0.00749,"UndefendedPluvialAAL":17},{"Year":2055,"Scenario":2.6,"FloodDefenceLevel":0,"DefendedScore":1,"DefendedRiskRatio":3,"DefendedADR":0.00749,"DefendedAAL":17,"DefendedFluvialScore":0,"DefendedFluvialRiskRatio":0,"DefendedFluvialMaxDepth30Years":0,"DefendedFluvialMaxDepth75Years":0,"DefendedFluvialMaxDepth100Years":0,"DefendedFluvialMaxDepth250Years":0,"DefendedFluvialMaxDepth500Years":0,"DefendedFluvialMaxDepth1000Years":0,"DefendedFluvialADR":0,"DefendedFluvialAAL":0,"DefendedTidalScore":0,"DefendedTidalRiskRatio":0,"DefendedTidalMaxDepth30Years":0,"DefendedTidalMaxDepth75Years":0,"DefendedTidalMaxDepth100Years":0,"DefendedTidalMaxDepth250Years":0,"DefendedTidalMaxDepth500Years":0,"DefendedTidalMaxDepth1000Years":0,"DefendedTidalADR":0,"DefendedTidalAAL":0,"UndefendedScore":1,"UndefendedRiskRatio":3,"UndefendedADR":0.00749,"UndefendedAAL":17,"UndefendedFluvialScore":0,"UndefendedFluvialRiskRatio":0,"UndefendedFluvialMaxDepth30Years":0,"UndefendedFluvialMaxDepth75Years":0,"UndefendedFluvialMaxDepth100Years":0,"UndefendedFluvialMaxDepth250Years":0,"UndefendedFluvialMaxDepth500Years":0,"UndefendedFluvialMaxDepth1000Years":0,"UndefendedFluvialADR":0,"UndefendedFluvialAAL":0,"UndefendedTidalScore":0,"UndefendedTidalRiskRatio":0,"UndefendedTidalMaxDepth30Years":0,"UndefendedTidalMaxDepth75Years":0,"UndefendedTidalMaxDepth100Years":0,"UndefendedTidalMaxDepth250Years":0,"UndefendedTidalMaxDepth500Years":0,"UndefendedTidalMaxDepth1000Years":0,"UndefendedTidalADR":0,"UndefendedTidalAAL":0,"UndefendedPluvialScore":1,"UndefendedPluvialRiskRatio":3,"UndefendedPluvialMaxDepth30Years":0,"UndefendedPluvialMaxDepth75Years":0,"UndefendedPluvialMaxDepth100Years":0,"UndefendedPluvialMaxDepth250Years":0.01,"UndefendedPluvialMaxDepth500Years":0.02,"UndefendedPluvialMaxDepth1000Years":0.03,"UndefendedPluvialADR":0.00749,"UndefendedPluvialAAL":17},{"Year":2027,"Scenario":2.6,"FloodDefenceLevel":0,"DefendedScore":1,"DefendedRiskRatio":1,"DefendedADR":0.00321,"DefendedAAL":7,"DefendedFluvialScore":0,"DefendedFluvialRiskRatio":0,"DefendedFluvialMaxDepth30Years":0,"DefendedFluvialMaxDepth75Years":0,"DefendedFluvialMaxDepth100Years":0,"DefendedFluvialMaxDepth250Years":0,"DefendedFluvialMaxDepth500Years":0,"DefendedFluvialMaxDepth1000Years":0,"DefendedFluvialADR":0,"DefendedFluvialAAL":0,"DefendedTidalScore":0,"DefendedTidalRiskRatio":0,"DefendedTidalMaxDepth30Years":0,"DefendedTidalMaxDepth75Years":0,"DefendedTidalMaxDepth100Years":0,"DefendedTidalMaxDepth250Years":0,"DefendedTidalMaxDepth500Years":0,"DefendedTidalMaxDepth1000Years":0,"DefendedTidalADR":0,"DefendedTidalAAL":0,"UndefendedScore":1,"UndefendedRiskRatio":1,"UndefendedADR":0.00321,"UndefendedAAL":7,"UndefendedFluvialScore":0,"UndefendedFluvialRiskRatio":0,"UndefendedFluvialMaxDepth30Years":0,"UndefendedFluvialMaxDepth75Years":0,"UndefendedFluvialMaxDepth100Years":0,"UndefendedFluvialMaxDepth250Years":0,"UndefendedFluvialMaxDepth500Years":0,"UndefendedFluvialMaxDepth1000Years":0,"UndefendedFluvialADR":0,"UndefendedFluvialAAL":0,"UndefendedTidalScore":0,"UndefendedTidalRiskRatio":0,"UndefendedTidalMaxDepth30Years":0,"UndefendedTidalMaxDepth75Years":0,"UndefendedTidalMaxDepth100Years":0,"UndefendedTidalMaxDepth250Years":0,"UndefendedTidalMaxDepth500Years":0,"UndefendedTidalMaxDepth1000Years":0,"UndefendedTidalADR":0,"UndefendedTidalAAL":0,"UndefendedPluvialScore":1,"UndefendedPluvialRiskRatio":1,"UndefendedPluvialMaxDepth30Years":0,"UndefendedPluvialMaxDepth75Years":0,"UndefendedPluvialMaxDepth100Years":0,"UndefendedPluvialMaxDepth250Years":0.01,"UndefendedPluvialMaxDepth500Years":0.02,"UndefendedPluvialMaxDepth1000Years":0.03,"UndefendedPluvialADR":0.00321,"UndefendedPluvialAAL":7},{"Year":2055,"Scenario":6,"FloodDefenceLevel":0,"DefendedScore":1,"DefendedRiskRatio":3,"DefendedADR":0.00749,"DefendedAAL":17,"DefendedFluvialScore":0,"DefendedFluvialRiskRatio":0,"DefendedFluvialMaxDepth30Years":0,"DefendedFluvialMaxDepth75Years":0,"DefendedFluvialMaxDepth100Years":0,"DefendedFluvialMaxDepth250Years":0,"DefendedFluvialMaxDepth500Years":0,"DefendedFluvialMaxDepth1000Years":0,"DefendedFluvialADR":0,"DefendedFluvialAAL":0,"DefendedTidalScore":0,"DefendedTidalRiskRatio":0,"DefendedTidalMaxDepth30Years":0,"DefendedTidalMaxDepth75Years":0,"DefendedTidalMaxDepth100Years":0,"DefendedTidalMaxDepth250Years":0,"DefendedTidalMaxDepth500Years":0,"DefendedTidalMaxDepth1000Years":0,"DefendedTidalADR":0,"DefendedTidalAAL":0,"UndefendedScore":1,"UndefendedRiskRatio":3,"UndefendedADR":0.00749,"UndefendedAAL":17,"UndefendedFluvialScore":0,"UndefendedFluvialRiskRatio":0,"UndefendedFluvialMaxDepth30Years":0,"UndefendedFluvialMaxDepth75Years":0,"UndefendedFluvialMaxDepth100Years":0,"UndefendedFluvialMaxDepth250Years":0,"UndefendedFluvialMaxDepth500Years":0,"UndefendedFluvialMaxDepth1000Years":0,"UndefendedFluvialADR":0,"UndefendedFluvialAAL":0,"UndefendedTidalScore":0,"UndefendedTidalRiskRatio":0,"UndefendedTidalMaxDepth30Years":0,"UndefendedTidalMaxDepth75Years":0,"UndefendedTidalMaxDepth100Years":0,"UndefendedTidalMaxDepth250Years":0,"UndefendedTidalMaxDepth500Years":0,"UndefendedTidalMaxDepth1000Years":0,"UndefendedTidalADR":0,"UndefendedTidalAAL":0,"UndefendedPluvialScore":1,"UndefendedPluvialRiskRatio":3,"UndefendedPluvialMaxDepth30Years":0,"UndefendedPluvialMaxDepth75Years":0,"UndefendedPluvialMaxDepth100Years":0,"UndefendedPluvialMaxDepth250Years":0.02,"UndefendedPluvialMaxDepth500Years":0.03,"UndefendedPluvialMaxDepth1000Years":0.03,"UndefendedPluvialADR":0.00749}]},"EnergyCertificate":{"RawHashValue":"dc64c5f4-c319-4c02-b83e-b2ba060caa92|02a5bc93bf1177118a9e14865b75c648|f8aaae5df53c6292608fdd83dc7f259d23e620bb39244860ae6e6414f6168e2b","MappingHeatingKey":1,"MappingTenureKey":null,"DataSourceId":282,"UPRN":200001171123,"ConcatenatedAddress":"40,
                      Birchcroft, French Walls","CustRef1":"1235610789262015022609080659348835","CustRef2":3504899278,"PostCode":"B66
                      3LN","PCD":"B66","HouseName":"40, Birchcroft","StreetName":"French Walls","Locality":null,"Town":"SMETHWICK","County":null,"FullAddress":"40,
                      Birchcroft, French Walls","PropType":"Flat","PropStyle":"End-Terrace","TotalRoomCount":2,"FloorArea":38,"Heating":"electricity
                      (not community)","FloorsInBlock":null,"Outbuildings":0,"InspectionDate":"2015-02-24","ReportDate":"2015-02-26","InstrType1":"ECO
                      assessment","AddressMatchFlag":true,"AddressMatchAttempts":1,"NumberHeatedRooms":2,"RoofDescription":"(another
                      dwelling above)","FloorHeight":null,"CurrentEnergyRating":"D","CurrentEnergyEfficiency":62,"PotentialEnergyRating":"C","PotentialEnergyEfficiency":69,"LocalAuthority":"E08000028","Constituency":"E14001016","EnvironmentImpactCurrent":42,"EnvironmentImpactPotential":49,"EnergyConsumptionCurrent":576,"EnergyConsumptionPotential":490,"CO2EmissionCurrent":3,"CO2CurrentPerFloorArea":97,"CO2EmissionPotential":3,"LightingCostCurrent":45,"LightingCostPotential":30,"HeatingCostCurrent":448,"HeatingCostPotential":344,"HotWaterCostCurrent":115,"HotWaterCostPotential":115,"EnergyTariff":"dual","MainsGasFlag":"N","FloorLevel":"6th","FlatTopStorey":"N","MainHeatingControls":2401,"MultiGlazeProportion":100,"GlazedType":"double
                      glazing, unknown install date","GlazedArea":"Normal","LowEnergyLighting":50,"NumberOpenFireplaces":0,"HotwaterDescription":"Electric
                      immersion, off-peak","HotWaterEnergyEff":"Average","HotWaterEnvEff":"Poor","FloorDescription":"(another
                      dwelling below)","FloorEnergyEff":null,"FloorEnvEff":null,"WindowsDescription":"Fully
                      double glazed","WindowsEnergyEff":"Average","WindowsEnvEff":"Average","WallsDescription":"System
                      built, as built, no insulation (assumed)","WallsEnergyEff":"Very Poor","WallsEnvEff":"Very
                      Poor","SecondheatDescription":"Room heaters, electric","SheatingEnergyEff":null,"SheatingEnvEff":null,"RoofEnergyEff":null,"RoofEnvEff":null,"MainheatDescription":"Electric
                      storage heaters","MainheatEnergyEff":"Average","MainheatEnvEff":"Very Poor","MainheatcontDescription":"Manual
                      charge control","MainheatcEnergyEff":"Poor","MainheatcEnvEff":"Poor","LightingDescription":"Low
                      energy lighting in 50% of fixed outlets","LightingEnergyEff":"Good","LightingEnvEff":"Good","AirTightnessDescription":null,"AirTightnessEnergyEff":null,"AirTightnessEnvEff":null,"WindTurbineCount":0,"HeatLossCorridoor":"unheated
                      corridor","HeatLossCorridoorLength":6,"PhotoSupply":null,"SolarWaterHeatingFlag":"N","MechanicalVentilation":"natural","LocalAuthorityLabel":"Sandwell","ConstituencyLabel":"Warley","ConstructionAgeBand":"England
                      and Wales: 1950-1966","LodgementDate":"2015-02-26T00:00:00.000+0000","Tenure":"rental
                      (social)","FixedLightingOutletsCount":null,"LowEnergyFixedLightCount":null,"TypeOfAssessment":null,"3YearEnergyCostCurrent":null,"3YearEnergySavingPotential":null,"CurrentEnvironmentalRating":null,"PotentialEnvironmentalRating":null,"LzcEnergySources":null,"SpaceHeatingDemand":null,"WaterHeatingDemand":null,"ImpactLoftInsulation":null,"ImpactCavityWallInsulation":null,"ImpactSolidWallInsulation":null,"MainHeatingCategory":null,"AddendumText":null,"DataZone":null,"YearBuilt":null,"IsNewBuild":null,"EffectiveDate":"2015-02-24","HashValue":"4e0c2ef28b26089741ee154fd47f049c7bb212111a95c1ce04ce9a333de4b2e8"}}'
                    IsDisplayed: true
                    CreatedDate: '2020-06-04T10:11:55.37Z'
                    IsDeleted: false
        '400':
          description: 'Status 400 - Bad Request. The server cannot or will not process the request due
            to something that is perceived to be a client error (e.g., malformed request syntax, invalid
            request message framing, or deceptive request routing).

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdGet400ApplicationJsonResponse'
              example:
                message: Bad request
                reason: Further error information
        '401':
          description: "Status 401 - Bad or Expired Token. The OAuth token provided is Bad or it has expired.\
            \ The server is unable to process the request without a valid OAuth token. \n_This status\
            \ will only be used when the API resource has been secured using OAuth 2.0._\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdGet401ApplicationJsonResponse'
              example:
                message: Bad Token
                reason: Further error information
        '403':
          description: "Status 403 - Bad OAuth Request or Forbidden. The server has attempted to use the\
            \ OAuth token provided to authorise the access to the resource and found that the token is\
            \ bad or that access to the resource has been forbidden. \n_This status will only be used\
            \ when the API resource has been secured using OAuth 2.0._\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdGet403ApplicationJsonResponse'
              example:
                message: Forbidden
                reason: Further error information
        '404':
          description: 'Status 404 - Resource not found. The requested resource could not be found but
            may be available again in the future.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdGet404ApplicationJsonResponse'
              example:
                message: Resource not found
                reason: Further error information
        '405':
          description: 'Status 405 - Method Not Allowed. A request was made of a resource using a request
            method not supported by that resource.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdGet405ApplicationJsonResponse'
              example:
                message: Method not allowed
                reason: Further error information
        '406':
          description: 'Status 406 - Not Acceptable. The requested resource is only capable of generating
            content not acceptable according to the Accept headers sent in the request.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdGet406ApplicationJsonResponse'
              example:
                message: Not acceptable
                reason: Further error information
        '415':
          description: 'Status 415 - Unsupported Media Type. The request entity has a media type which
            the server or resource does not support.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdGet415ApplicationJsonResponse'
              example:
                message: Unsupported media type
                reason: Further error information
        '425':
          description: 'Status 425 - Too Early. The requested resource is not available yet, but will
            be soon.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdGet425ApplicationJsonResponse'
              example:
                message: Response is not ready yet. Please retry this operation later.
                reason: Further error information
        '429':
          description: 'Status 429 - Too Many Requests. The request has been submitted too many times
            within a given time window.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdGet429ApplicationJsonResponse'
              example:
                message: Request limit exceeded. Try again later.
                reason: Further error information
        '500':
          description: 'Status 500 - Internal Server Error. The server encountered an error when processing
            your request.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdGet500ApplicationJsonResponse'
              example:
                message: Internal server error
                reason: Further error information
        '502':
          description: 'Status 502 - Bad Gateway. The server was acting as a gateway or proxy and received
            an invalid response from the upstream server.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdGet502ApplicationJsonResponse'
              example:
                message: Bad gateway
                reason: Further error information
        '504':
          description: 'Status 504 - Gateway Timeout. The server, while acting as a gateway or proxy,
            did not get a response in time from the upstream server that it needed in order to complete
            the request.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdGet504ApplicationJsonResponse'
              example:
                message: Gateway Timeout
                reason: Further error information
  /organisation/{orgId}/case/{caseId}/documents:
    get:
      operationId: get-organisation-orgid-case-caseid-documents
      summary: /organisation/{orgId}/case/{caseId}/documents - GET
      description: Retrieve a list of documents attached to the specified PRH case.
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
      - name: caseId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsGet200ApplicationJsonResponse'
              example:
                Documents:
                - DocumentReference: AAAFADE8-7DC0-4070-BFA7-561533592375
                  FileName: 479212501.pdf
                  Format: PDF
                  DocumentType: DP - Valuation Report
                  DocumentSize: 123
                  DataProviderCode: VALPROV
                  RepositoryContainer: docContainer-1
                  CreatedDate: '2017-09-19T14:28:43.443Z'
                - DocumentReference: 58FEECE9-AB41-47D9-A237-46FC6CED486D
                  FileName: Test Document.txt
                  Format: TEXT
                  DocumentType: DP-Doc
                  DocumentSize: 123
                  DataProviderCode: TESTDP
                  RepositoryContainer: docContainer-1
                  CreatedDate: '2017-09-19T14:28:43.443Z'
                - DocumentReference: 58FEECE9-AB41-47D9-A237-46FC6CED486D
                  FileName: OSREGTD_201609300540.ZIP
                  Format: ZIP
                  DocumentType: DP - Register Of Title Details
                  DocumentSize: 123
                  DataProviderCode: OSREGTD
                  RepositoryContainer: docContainer-1
                  CreatedDate: '2017-09-19T14:28:43.443Z'
        '400':
          description: 'Status 400 - Bad Request. The server cannot or will not process the request due
            to something that is perceived to be a client error (e.g., malformed request syntax, invalid
            request message framing, or deceptive request routing).

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsGet400ApplicationJsonResponse'
              example:
                message: Bad request
                reason: Further error information
        '401':
          description: "Status 401 - Bad or Expired Token. The OAuth token provided is Bad or it has expired.\
            \ The server is unable to process the request without a valid OAuth token. \n_This status\
            \ will only be used when the API resource has been secured using OAuth 2.0._\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsGet401ApplicationJsonResponse'
              example:
                message: Bad Token
                reason: Further error information
        '403':
          description: "Status 403 - Bad OAuth Request or Forbidden. The server has attempted to use the\
            \ OAuth token provided to authorise the access to the resource and found that the token is\
            \ bad or that access to the resource has been forbidden. \n_This status will only be used\
            \ when the API resource has been secured using OAuth 2.0._\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsGet403ApplicationJsonResponse'
              example:
                message: Forbidden
                reason: Further error information
        '404':
          description: 'Status 404 - Resource not found. The requested resource could not be found but
            may be available again in the future.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsGet404ApplicationJsonResponse'
              example:
                message: Resource not found
                reason: Further error information
        '405':
          description: 'Status 405 - Method Not Allowed. A request was made of a resource using a request
            method not supported by that resource.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsGet405ApplicationJsonResponse'
              example:
                message: Method not allowed
                reason: Further error information
        '406':
          description: 'Status 406 - Not Acceptable. The requested resource is only capable of generating
            content not acceptable according to the Accept headers sent in the request.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsGet406ApplicationJsonResponse'
              example:
                message: Not acceptable
                reason: Further error information
        '415':
          description: 'Status 415 - Unsupported Media Type. The request entity has a media type which
            the server or resource does not support.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsGet415ApplicationJsonResponse'
              example:
                message: Unsupported media type
                reason: Further error information
        '425':
          description: 'Status 425 - Too Early. The requested resource is not available yet, but will
            be soon.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsGet425ApplicationJsonResponse'
              example:
                message: Response is not ready yet. Please retry this operation later.
                reason: Further error information
        '429':
          description: 'Status 429 - Too Many Requests. The request has been submitted too many times
            within a given time window.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsGet429ApplicationJsonResponse'
              example:
                message: Request limit exceeded. Try again later.
                reason: Further error information
        '500':
          description: 'Status 500 - Internal Server Error. The server encountered an error when processing
            your request.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsGet500ApplicationJsonResponse'
              example:
                message: Internal server error
                reason: Further error information
        '502':
          description: 'Status 502 - Bad Gateway. The server was acting as a gateway or proxy and received
            an invalid response from the upstream server.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsGet502ApplicationJsonResponse'
              example:
                message: Bad gateway
                reason: Further error information
        '504':
          description: 'Status 504 - Gateway Timeout. The server, while acting as a gateway or proxy,
            did not get a response in time from the upstream server that it needed in order to complete
            the request.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsGet504ApplicationJsonResponse'
              example:
                message: Gateway Timeout
                reason: Further error information
    post:
      operationId: post-organisation-orgid-case-caseid-documents
      summary: /organisation/{orgId}/case/{caseId}/documents - POST
      description: Attach new documents to the specified PRH case.
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
      - name: caseId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generated-3'
            example:
            - Name: document1.pdf
              Format: PDF
              Reference: PICTURES
              Description: Pictures of the property
              BinaryObject: VGhpcyBpcyBzb21lIHRlc3QgZGF0YS4=
            - Name: valuation.pdf
              Format: PDF
              Reference: VALUATION
              Description: Mortgage Valuation Report
              BinaryObject: VGhpcyBpcyBzb21lIHRlc3QgZGF0YS4=
      responses:
        '202':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsPost202ApplicationJsonResponse'
              example:
                Documents:
                - DocumentReference: 58FEECE9-AB41-47D9-A237-46FC6CED486D
                  DocumentVerificationUrl: this.and/that
                - DocumentReference: 58FEECE9-AB41-47D9-A237-46FC6CED486D
                  DocumentVerificationUrl: this.and/that
                - DocumentReference: 58FEECE9-AB41-47D9-A237-46FC6CED486D
                  DocumentVerificationUrl: this.and/that
        '400':
          description: 'Status 400 - Bad Request. The server cannot or will not process the request due
            to something that is perceived to be a client error (e.g., malformed request syntax, invalid
            request message framing, or deceptive request routing).

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsPost400ApplicationJsonResponse'
              example:
                message: Bad request
                reason: Further error information
        '401':
          description: "Status 401 - Bad or Expired Token. The OAuth token provided is Bad or it has expired.\
            \ The server is unable to process the request without a valid OAuth token. \n_This status\
            \ will only be used when the API resource has been secured using OAuth 2.0._\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsPost401ApplicationJsonResponse'
              example:
                message: Bad Token
                reason: Further error information
        '403':
          description: "Status 403 - Bad OAuth Request or Forbidden. The server has attempted to use the\
            \ OAuth token provided to authorise the access to the resource and found that the token is\
            \ bad or that access to the resource has been forbidden. \n_This status will only be used\
            \ when the API resource has been secured using OAuth 2.0._\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsPost403ApplicationJsonResponse'
              example:
                message: Forbidden
                reason: Further error information
        '404':
          description: 'Status 404 - Resource not found. The requested resource could not be found but
            may be available again in the future.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsPost404ApplicationJsonResponse'
              example:
                message: Resource not found
                reason: Further error information
        '405':
          description: 'Status 405 - Method Not Allowed. A request was made of a resource using a request
            method not supported by that resource.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsPost405ApplicationJsonResponse'
              example:
                message: Method not allowed
                reason: Further error information
        '406':
          description: 'Status 406 - Not Acceptable. The requested resource is only capable of generating
            content not acceptable according to the Accept headers sent in the request.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsPost406ApplicationJsonResponse'
              example:
                message: Not acceptable
                reason: Further error information
        '415':
          description: 'Status 415 - Unsupported Media Type. The request entity has a media type which
            the server or resource does not support.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsPost415ApplicationJsonResponse'
              example:
                message: Unsupported media type
                reason: Further error information
        '425':
          description: 'Status 425 - Too Early. The requested resource is not available yet, but will
            be soon.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsPost425ApplicationJsonResponse'
              example:
                message: Response is not ready yet. Please retry this operation later.
                reason: Further error information
        '429':
          description: 'Status 429 - Too Many Requests. The request has been submitted too many times
            within a given time window.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsPost429ApplicationJsonResponse'
              example:
                message: Request limit exceeded. Try again later.
                reason: Further error information
        '500':
          description: 'Status 500 - Internal Server Error. The server encountered an error when processing
            your request.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsPost500ApplicationJsonResponse'
              example:
                message: Internal server error
                reason: Further error information
        '502':
          description: 'Status 502 - Bad Gateway. The server was acting as a gateway or proxy and received
            an invalid response from the upstream server.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsPost502ApplicationJsonResponse'
              example:
                message: Bad gateway
                reason: Further error information
        '504':
          description: 'Status 504 - Gateway Timeout. The server, while acting as a gateway or proxy,
            did not get a response in time from the upstream server that it needed in order to complete
            the request.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsPost504ApplicationJsonResponse'
              example:
                message: Gateway Timeout
                reason: Further error information
  /organisation/{orgId}/case/{caseId}/documents/{documentReference}:
    get:
      operationId: get-organisation-orgid-case-caseid-documents-documentreference
      summary: /organisation/{orgId}/case/{caseId}/documents/{documentReference} - GET
      description: Retrieve a specific document attached to the specified PRH case.
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
      - name: caseId
        in: path
        required: true
        schema:
          type: string
      - name: documentReference
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsDocumentReferenceGet200ApplicationJsonRe'
              example:
                Document:
                  DocumentReference: 58FEECE9-AB41-47D9-A237-46FC6CED486D
                  FileName: Test Document.txt
                  Format: TEXT
                  DocumentType: DP-Doc
                  DataProviderCode: TESTDP
                  BinaryObject: VGhpcyBpcyBzb21lIHRlc3QgZGF0YS4=
        '400':
          description: 'Status 400 - Bad Request. The server cannot or will not process the request due
            to something that is perceived to be a client error (e.g., malformed request syntax, invalid
            request message framing, or deceptive request routing).

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsDocumentReferenceGet400ApplicationJsonRe'
              example:
                message: Bad request
                reason: Further error information
        '401':
          description: "Status 401 - Bad or Expired Token. The OAuth token provided is Bad or it has expired.\
            \ The server is unable to process the request without a valid OAuth token. \n_This status\
            \ will only be used when the API resource has been secured using OAuth 2.0._\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsDocumentReferenceGet401ApplicationJsonRe'
              example:
                message: Bad Token
                reason: Further error information
        '403':
          description: "Status 403 - Bad OAuth Request or Forbidden. The server has attempted to use the\
            \ OAuth token provided to authorise the access to the resource and found that the token is\
            \ bad or that access to the resource has been forbidden. \n_This status will only be used\
            \ when the API resource has been secured using OAuth 2.0._\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsDocumentReferenceGet403ApplicationJsonRe'
              example:
                message: Forbidden
                reason: Further error information
        '404':
          description: 'Status 404 - Resource not found. The requested resource could not be found but
            may be available again in the future.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsDocumentReferenceGet404ApplicationJsonRe'
              example:
                message: Resource not found
                reason: Further error information
        '405':
          description: 'Status 405 - Method Not Allowed. A request was made of a resource using a request
            method not supported by that resource.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsDocumentReferenceGet405ApplicationJsonRe'
              example:
                message: Method not allowed
                reason: Further error information
        '406':
          description: 'Status 406 - Not Acceptable. The requested resource is only capable of generating
            content not acceptable according to the Accept headers sent in the request.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsDocumentReferenceGet406ApplicationJsonRe'
              example:
                message: Not acceptable
                reason: Further error information
        '415':
          description: 'Status 415 - Unsupported Media Type. The request entity has a media type which
            the server or resource does not support.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsDocumentReferenceGet415ApplicationJsonRe'
              example:
                message: Unsupported media type
                reason: Further error information
        '425':
          description: 'Status 425 - Too Early. The requested resource is not available yet, but will
            be soon.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsDocumentReferenceGet425ApplicationJsonRe'
              example:
                message: Response is not ready yet. Please retry this operation later.
                reason: Further error information
        '429':
          description: 'Status 429 - Too Many Requests. The request has been submitted too many times
            within a given time window.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsDocumentReferenceGet429ApplicationJsonRe'
              example:
                message: Request limit exceeded. Try again later.
                reason: Further error information
        '500':
          description: 'Status 500 - Internal Server Error. The server encountered an error when processing
            your request.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsDocumentReferenceGet500ApplicationJsonRe'
              example:
                message: Internal server error
                reason: Further error information
        '502':
          description: 'Status 502 - Bad Gateway. The server was acting as a gateway or proxy and received
            an invalid response from the upstream server.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsDocumentReferenceGet502ApplicationJsonRe'
              example:
                message: Bad gateway
                reason: Further error information
        '504':
          description: 'Status 504 - Gateway Timeout. The server, while acting as a gateway or proxy,
            did not get a response in time from the upstream server that it needed in order to complete
            the request.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsDocumentReferenceGet504ApplicationJsonRe'
              example:
                message: Gateway Timeout
                reason: Further error information
  /organisation/{orgId}/case/{caseId}/documents/{documentReference}/verify:
    get:
      operationId: get-organisation-orgid-case-caseid-documents-documentreference-verify
      summary: /organisation/{orgId}/case/{caseId}/documents/{documentReference}/verify - GET
      description: Verify that the specified document is available.
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
      - name: caseId
        in: path
        required: true
        schema:
          type: string
      - name: documentReference
        in: path
        required: true
        schema:
          type: string
      responses:
        '202':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsDocumentReferenceVerifyGet202Application'
              example:
                message: Processing
                reason: The document is not ready yet.
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsDocumentReferenceVerifyGet200Application'
              example:
                message: Success
                reason: The document is available.
        '400':
          description: 'Status 400 - Bad Request. The server cannot or will not process the request due
            to something that is perceived to be a client error (e.g., malformed request syntax, invalid
            request message framing, or deceptive request routing).

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsDocumentReferenceVerifyGet400Application'
              example:
                message: Bad request
                reason: Further error information
        '401':
          description: "Status 401 - Bad or Expired Token. The OAuth token provided is Bad or it has expired.\
            \ The server is unable to process the request without a valid OAuth token. \n_This status\
            \ will only be used when the API resource has been secured using OAuth 2.0._\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsDocumentReferenceVerifyGet401Application'
              example:
                message: Bad Token
                reason: Further error information
        '403':
          description: "Status 403 - Bad OAuth Request or Forbidden. The server has attempted to use the\
            \ OAuth token provided to authorise the access to the resource and found that the token is\
            \ bad or that access to the resource has been forbidden. \n_This status will only be used\
            \ when the API resource has been secured using OAuth 2.0._\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsDocumentReferenceVerifyGet403Application'
              example:
                message: Forbidden
                reason: Further error information
        '404':
          description: 'Status 404 - Resource not found. The requested resource could not be found but
            may be available again in the future.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsDocumentReferenceVerifyGet404Application'
              example:
                message: Resource not found
                reason: Further error information
        '405':
          description: 'Status 405 - Method Not Allowed. A request was made of a resource using a request
            method not supported by that resource.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsDocumentReferenceVerifyGet405Application'
              example:
                message: Method not allowed
                reason: Further error information
        '406':
          description: 'Status 406 - Not Acceptable. The requested resource is only capable of generating
            content not acceptable according to the Accept headers sent in the request.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsDocumentReferenceVerifyGet406Application'
              example:
                message: Not acceptable
                reason: Further error information
        '415':
          description: 'Status 415 - Unsupported Media Type. The request entity has a media type which
            the server or resource does not support.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsDocumentReferenceVerifyGet415Application'
              example:
                message: Unsupported media type
                reason: Further error information
        '425':
          description: 'Status 425 - Too Early. The requested resource is not available yet, but will
            be soon.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsDocumentReferenceVerifyGet425Application'
              example:
                message: Response is not ready yet. Please retry this operation later.
                reason: Further error information
        '429':
          description: 'Status 429 - Too Many Requests. The request has been submitted too many times
            within a given time window.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsDocumentReferenceVerifyGet429Application'
              example:
                message: Request limit exceeded. Try again later.
                reason: Further error information
        '500':
          description: 'Status 500 - Internal Server Error. The server encountered an error when processing
            your request.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsDocumentReferenceVerifyGet500Application'
              example:
                message: Internal server error
                reason: Further error information
        '502':
          description: 'Status 502 - Bad Gateway. The server was acting as a gateway or proxy and received
            an invalid response from the upstream server.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsDocumentReferenceVerifyGet502Application'
              example:
                message: Bad gateway
                reason: Further error information
        '504':
          description: 'Status 504 - Gateway Timeout. The server, while acting as a gateway or proxy,
            did not get a response in time from the upstream server that it needed in order to complete
            the request.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdDocumentsDocumentReferenceVerifyGet504Application'
              example:
                message: Gateway Timeout
                reason: Further error information
  /organisation/{orgId}/case/{caseId}/process/{caseProcessId}:
    get:
      operationId: get-organisation-orgid-case-caseid-process-caseprocessid
      summary: /organisation/{orgId}/case/{caseId}/process/{caseProcessId} - GET
      description: Retrieve the specified PRH case, filtered to a specific case process.
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
      - name: caseId
        in: path
        required: true
        schema:
          type: string
      - name: caseProcessId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationOrgIdCaseCaseIdProcessCaseProcessIdGet200ApplicationJsonResponse'
              example:
                Case:
                  BrandCode: ORG
                  BrandText: Dummy Organisation
                  CaseId: 12345
                  CaseReference: TEST123
                  ConstructionYear: '1964'
                  DataConfigGroupCode: PURCHASE
                  DataConfigGroupId: 5
                  DataConfigGroupText: Purchase
                  InstructionAddress:
                    AddressId: '524590'
                    CreatedDate: '2025-01-13T11:01:06.767Z'
                    IsDeleted: false
                    Line1: 6 Arlbury Road
                    PostalCode: NN3 8QJ
                    UpdatedDate: '2025-01-13T11:01:06.767Z'
                  InstructionReference: TEST123
                  InstructionTypeCode: MV
                  LoanAmount: 125000
                  LoanToValue: 0
                  NumberOfBedrooms: 3
                  PrismReference: ORG001-12345
                  PropertyTypeCode: DETACHEDHOUSE
                  PropertyTypeText: Detached House
                  PurchasePriceAmount: 270000
                  RiskClassificationCode: REFR
                  RiskClassificationDescription: ''
                  RiskClassificationText: REFR
                  StatusId: 0
                  StatusText: Complete
                  TenureId: 1
                  TenureText: Freehold
                  VerifiedAddress:
                    AddressId: '524591'
                    CreatedDate: '2025-01-13T11:01:08.773Z'
                    IsDeleted: false
                    Latitude: '263751'
                    Line1: 6 Arlbury Road
                    Longitude: '480544'
                    PostalCode: NN3 8QJ
                    TitleDeedNumber: NN55420
                    UpdatedDate: '2025-01-13T11:01:41.52Z'
                    Uprn: '15006338'
                CaseCondition: []
                CaseOutcome:
                - CaseId: 12345
                  CaseOutcomeId: 438364
                  ItemKey: SINGLE_TRACK_RAILWAY
                  ItemValue: Risk not present. The property is not close to a single track railway.
                  RiskLevelId: 1
                - CaseId: 12345
[...]
